@charset "utf-8";


.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  justify-content: space-around;
  position: relative;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header_inner {
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}

.btn_blue {
  color: #fff;
  background: #6ba7eb;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 12px 14px;
}

.btn {
  font-size: 14px;
  text-align: center;
}

.btn_blue:hover {
  color: #333;
  transition: 0.3s;
}

.keyvisual {
  width: 100%;
  background-image: url(../images/keyvisual/keyvisual.jpg);
  background-size: cover;
  background-position: center;
}

.keyvisual_inner {
  padding: 400px 0;
}


.title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
  margin-bottom: 30px;
}

.sub_title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.news {
  width: 100%;
  background: #e3f2fd;
}

.news_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_img_box {
  display: flex;
  justify-content: center;
  flex-basis: 40%;
}

.news_img {
  width: 250px;
  margin-top: 50px;
}

.news_area {
  flex-basis: 60%;
}

.news_title {
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
  color: #333;
}

.news_text {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.skills {
  width: 100%;
  background: #fff;
  margin: 0 auto;
}

.skills_title {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 40px;
  letter-spacing: 10px;
}

.skills_icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}

.skills_img {
  height: 300px;
  width: 300px;
  opacity: 0.7;
}

.skills_img:hover {
  opacity: 1.0;
}

.skills_icon a:nth-child(4) {
  margin-left: 0;
}

.plan {
  background: #d0dfea;
  width: 100%;
}

.plan_inner {
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

.plan_title {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}

.cell_table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.table_area {
  padding: 50px 20px 0px 20px;
}

.cell_table thead th {
  background: #6ba7eb;
}

.cell_table th,
td {
  padding: 10px;
  text-align: center;
}

.cell_table td,
th {
  border-left: 2px solid #fff;
}

.cell_table td:first-child {
  border-left: none;
}

.cell_table th:first-child {
  border-left: none;
}

.cell_table td:first-child {
  font-weight: bold;
}

.cell_table tr:nth-child(odd) {
  background: #f9f9f9;
}

.cell_table tr:nth-child(even) {
  background: #e0efff;
}

.sns {
  background: #e3f2fd;
  padding: 200px 0 200px 0;
}

.sns_list {
  display: flex;
  justify-content: center;
}

.sns_icon {
  margin: 25px 0 25px 0;
}

.sns_icon a {
  width: 185px;
  font-size: 40px;
  color: #8c8c8c;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.sns_icon a:hover {
  opacity: 0.5s;
  color: #fff;
}

.footer {
  background: #cfd8dc;
  margin: 0 auto;
}

.footer_inner {
  width: 100%;
  display: flex;
  justify-content: right;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0.5px;
  padding: 25px 0;
  margin-right: 50px;
}

/* TAB版 */
@media (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .keyvisual_inner {
    padding: 250px 0;
  }

  .title {
    top: 250px;
  }

  .sub_title {
    bottom: 250px;
  }

  .news {
    padding: 50px 0;
  }

  .news_inner {
    display: block;
  }

  .news_img_box,
  .news_area {
    width: 100%;
    box-sizing: border-box;
  }

  .skills_icon {
    display: flex;
    flex-direction: column;
    gap: normal;
    align-items: center;
  }

  .skills_icon li {
    margin: 0 auto;
  }

  .skills_icon li:nth-of-type(3n) {
    margin-bottom: 80px;
  }

  .skills_icon li:last-child {
    margin-bottom: 0;
  }
}

/* SP版 */
@media (max-width:767px) {

  .inner {
    width: 97%;
  }

  .header_inner ul li a {
    display: none;
  }

  .header {
    position: relative;
  }

  .humberger_menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
  }

  .humberger_menu span,
  .humberger_menu span:before,
  .humberger_menu span:after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    height: 3px;
    width: 45%;
    border-radius: 2px;
    background-color: #c8c7c7;

  }

  .humberger_menu span:nth-of-type(1) {
    top: 10px;
  }

  .humberger_menu span:nth-of-type(2) {
    top: 20px;
  }

  .humberger_menu span:nth-of-type(3) {
    top: 30px;
  }

  .keyvisual_inner {
    padding: 200px 0;
  }

  .keyvisual h1 {
    font-size: 40px;
  }

  .keyvisual h2 {
    font-size: 30px;
  }

  .news_inner {
    display: block;
  }

  /* .news_img_box,
  .news_area {
    box-sizing: border-box;
    width: 100%;
  } */

  .skills_icon {
    display: flex;
    flex-direction: column;
    gap: normal;
    align-items: center;
  }

  .skills_icon li {
    margin: 0 auto;
  }

  .skills_icon:nth-of-type(3n) {
    margin-bottom: 80px;
  }

  .cell_table th {
    font-size: 14px;
    line-height: 22px;
  }

  .cell_table td {
    font-size: 12px;
  }

  .sns {
    padding: 50px 15px;
  }

  .sns_list {
    flex-direction: column;
    align-items: center;
  }

  .sns_icon {
    padding: 50px 0;
  }

}