@charset "utf-8";


.wrapper {
  width: 100%;
}

.header {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  justify-content: space-around;
  position: relative;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header_inner {
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
}

.btn_blue {
  color: #fff;
  background: #6ba7eb;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 12px 14px;
}

.btn {
  font-size: 14px;
  text-align: center;
}

.btn_blue:hover {
  color: #333;
  transition: 0.3s;
}

.keyvisual_inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main_img {
  width: 100%;
}

.title {
  width: 1100px;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  position: absolute;
  top: 400px;
}

.sub_title {
  width: 1100px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 400px;
}

.news {
  width: 100%;
  background: #e3f2fd;
}

.news_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_img_box {
  display: flex;
  justify-content: center;
  flex-basis: 40%;
}

.news_img {
  width: 250px;
  margin-top: 50px;
}

.news_area {
  flex-basis: 60%;
}

.news_title {
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
  color: #333;
}

.news_text {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.skills {
  width: 100%;
  background: #fff;
  margin: 0 auto;
}

.skills_title {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 40px;
  letter-spacing: 10px;
}

.skills_icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}

.skills_img {
  height: 300px;
  width: 300px;
  opacity: 0.7;
}

.skills_img:hover {
  opacity: 1.0;
}

.skills_icon a:nth-child(4) {
  margin-left: 0;
}

.plan {
  background: #d0dfea;
  width: 100%;
}

.plan_inner {
  width: 1100px;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

.plan_title {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.cell_table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

.table_area {
  padding-top: 50px;
}

.cell_table thead th {
  background: #6ba7eb;
}

.cell_table tr,
th,
td {
  padding: 10px;
  border-left: 2px solid #fff;
  text-align: center;
}

.cell_table tr:nth-child(odd) {
  background: #f9f9f9;
}

.sns {
  width: 1100px;
  background: #e3f2fd;
  padding: 200px 0 200px 0;
}

.sns_list {
  display: flex;
  justify-content: center;
}

.sns_icon {
  margin-top: 25px 0 25px 0;
}

.sns_icon a {
  width: 185px;
  font-size: 40px;
  color: #8c8c8c;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
}

.sns_icon a:hover {
  opacity: 0.5s;
  color: #fff;
}

.footer {
  background: #cfd8dc;
  margin: 0 auto;
}

.footer_inner {
  width: 100%;
  display: flex;
  justify-content: right;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0.5px;
  padding: 25px 0;
}